flet
python-telegram-bot
pywhatkit
sqlalchemy
alembic
python-barcode
qrcode
pillow
reportlab
arabic-reshaper
python-bidi
python-dateutil
pytz
aiohttp
requests
pytest
pytest-cov
black
isort
mypy
pre-commit
pyinstaller
